.card-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.card-text.expanded {
  text-overflow: initial;
  white-space: initial;
  overflow: initial;
}

.ixpanded {
  height: auto;
}
